# Ordinal Encoding

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../customer.csv")
df.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

In [3]:
df["age"].nunique()

41

### gender is nominal data and is one hot encoded

In [4]:
df = df.iloc[:, 2:]

In [5]:
df.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [6]:
input_cols = df.columns.to_list()[0:2]
target_cols = df.columns.to_list()[2]

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
Xtrain, Xtest,Ytrain, Ytest = train_test_split(df[input_cols], df[target_cols], test_size = 0.2)

In [9]:
Xtrain.head(), Xtest.head()

(     review education
 20  Average    School
 24  Average        PG
 36     Good        UG
 16     Poor        UG
 43     Poor        PG,
      review education
 40     Good    School
 6      Good    School
 49     Good        UG
 21  Average        PG
 31     Poor    School)

In [10]:
from sklearn.preprocessing import OrdinalEncoder

In [11]:
oencoder = OrdinalEncoder(categories=[ ["School", "UG", "PG"], ["Poor", "Average", "Good"]])

In [12]:
oencoder.fit(Xtrain)
Xtrain = oencoder.transform(Xtrain)
Xtest = oencoder.transform(Xtest)

ValueError: Found unknown categories ['Average', 'Poor', 'Good'] in column 0 during fit

In [ ]:
Xtrain = pd.DataFrame(Xtrain, columns=input_cols)
Xtest = pd.DataFrame(Xtest, columns=input_cols)

In [ ]:
Xtrain.head(), Xtest.head()

(   review  education
 0     2.0        2.0
 1     0.0        1.0
 2     0.0        2.0
 3     0.0        0.0
 4     0.0        1.0,
    review  education
 0     1.0        1.0
 1     1.0        1.0
 2     1.0        2.0
 3     2.0        0.0
 4     0.0        0.0)

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
le.fit(Ytrain)
Ytrain = le.transform(Ytrain)
Ytest = le.transform(Ytest)

In [ ]:
Ytrain

array([1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0])

In [ ]:
target_cols

'purchased'

In [ ]:
Ytrain = pd.DataFrame(Ytrain, columns=[target_cols])
Ytest = pd.DataFrame(Ytest, columns=[target_cols])

In [ ]:
Ytrain.head(), Ytest.head()

(   purchased
 0          1
 1          1
 2          0
 3          0
 4          1,
    purchased
 0          0
 1          0
 2          1
 3          0
 4          1)